    body {
        font-family: "Josefine";
        color: #373a3c;
    }
    
    hr {
        background-color: #424242;
    }
    
    nav {
        font-family: "Cabin", sans-serif;
        padding: 0!important;
    }
    
    li {
        font-family: "cabin", sans-serif;
    }
    
    .navbar-brand {
        font-family: "Lobster", cursive;
    }
    
    .navbar,
    footer {
        background: #707070;
        color: var(--white);
        font-family: 'Lobster', cursive;
    }
    
    footer h3 {
        color: var(--white);
        font-family: 'Lobster', cursive;
    }
    
    .icon {
        font-size: 37px;
        padding: 0;
    }
    
    .carousel-indicators li {
        top: 60px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: var(--light);
    }
    
    .carousel-indicators .active {
        background-color: var(--dark);
        top: 50px;
    }
    
    .newsletterSection {
        background-color: var(--danger);
        padding: 6rem 0;
    }
    
    .newsletter * {
        color: var(--white);
    }
    
    .newsletterSection .container h3 {
        font-size: 30px;
    }
    
    span {
        font-family: 'Lobster', cursive;
    }
    
    .btn-danger {
        border-color: var(--light);
        color: var(--light);
        padding: 5px 70px;
    }
    
    @media screen and (max-width:576px) {
        h1 {
            font-size: 25px;
            text-align: center;
        }
        header h5 {
            text-align: center;
            font-size: 16px;
        }
        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            /* width: 50%; */
        }
        .btn-light {
            width: 112px;
            height: 40px;
            font-size: 13px;
            padding: auto;
        }
    }
    
    @media screen and (min-width:577px) {
        .rowRecipe {
            border-top: 1.5px solid var(--dark);
        }
    }